{% extends 'base.html' %}
{% load static %}

{% block title %}
bedfacility
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<section class="service">
    <div class="container">
        <h1>Bed Facility</h1>
        <p>We provide comfortable and hygienic beds for admitted patients.</p>
        <button class="btn" onclick="goBack()">Go Back</button>
    </div>

</section>  

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}